h5 {
  color: white;
  letter-spacing: 1px;
}

#header {
  height: 40vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 5vh;
}

.features {
  font-weight: bold;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    90deg,
    #9600e1,
    #e100a4 25%,
    #ff504b 61%,
    #ffb01c 97%
  );
  -webkit-background-clip: text;
}

#header h1 {
  text-align: center;
  text-decoration: underline;
  animation: waviy 1s infinite;
  animation-delay: calc(0.1s * var(--i));
  font-weight: bold;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(90deg, #0035fd 20%, #eb00a1);
  -webkit-background-clip: text;
  letter-spacing: 1px;
}

@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-10px);
  }
}

#maps {
  height: 60vh;
}

#maps h4 {
  padding-top: 3vh;
  text-align: center;
  color: #a5a5f7;
  text-shadow: 3px 3px 8px #a5a5f7;
  letter-spacing: 2px;
}

#maps a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
  text-decoration: underline;
  padding-top: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 70%;
  justify-items: center;
  margin: auto;
  color: white;
  gap: 5vh;
}

.map {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0);
  height: 45vh;
  border-top: 4px solid #5959fc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
}

.map p {
  font-size: 1.4rem;
  margin: 0;
  margin-left: 1vh;
  padding-bottom: 10px;
}

.map button {
  width: 15.25vh;
  height: 4vh;
  margin: 0;
  padding: 0;
  margin-left: 1vh;
  line-height: 0;
  background-color: #5959fc;
  border: none;
}

.map button:hover {
  box-shadow: 1px 1px 10px #5959fccb;
}

.map a {
  margin-left: 1vh;
}

.grid-container img {
  height: 30vh;
  width: 20vw;
  box-shadow: 1px 1px 4px rgb(0, 0, 0);
}

footer {
  background-color: #05070c32;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 100%;
  gap: 10px;
}

footer p {
  margin: 0;
}

footer a {
  color: #5959fc;
}
