h5 {
  color: white;
}

#header {
  height: 40vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 5vh;
}

.features {
  font-weight: bold;
}

#header h1 {
  text-align: center;
  text-decoration: underline;
  color: #9b4dca;
  animation: waviy 1s infinite;
  animation-delay: calc(0.1s * var(--i));
  font-weight: bold;
}

@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}

#header u {
  font-weight: bold;
}

#maps {
  height: 60vh;
}

#maps h4 {
  padding-top: 3vh;
  text-align: center;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
}

#maps a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.25rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  justify-items: center;
  color: white;
}

.map {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0);
  height: 45vh;
  border-top: 2px solid #9a4dca;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
}

.map p {
  font-size: 1.1rem;
  margin: 0;
  margin-left: 1vh;
}

.map button {
  width: 15.25vh;
  height: 4vh;
  margin: 0;
  padding: 0;
  margin-left: 1vh;
  line-height: 0;
}

.map a {
  margin-left: 1vh;
}

.grid-container img {
  height: 200px;
  width: 225px;
  box-shadow: 1px 1px 4px rgb(0, 0, 0);
}

footer {
  color: #9a4dca;
  background-color: #171717;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 100%;
  gap: 10px;
}

footer p {
  margin: 0;
}

footer a {
  color: #9a4dca;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  #maps {
    height: 90vh;
  }

  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
  }

  .map {
    height: 20vh;
  }

  .grid-container img {
    width: 200px;
    height: 100px;
  }

  .map button {
    width: 5vh;
    height: 2.5vh;
  }
}
