.leaderboard {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

h3 {
  text-align: center;
  margin-top: 2vh;
  font-weight: bold;
  color: #9b4dca;
  border-bottom: 1px solid #9b4dca;
}

label {
  color: #9b4dca;
}

select {
  width: 25vh;
}

table {
  width: 55%;
}
