* {
  box-sizing: border-box;
}

.gameOverlay {
  height: 100%;
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.508);
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameContainer {
  border: 2px solid #9a4dca;
  background-color: #040404;
  display: grid;
  grid-template-columns: 0.9fr 0.1fr;
  width: 85vw;
  max-height: 85vh;
}

.gameImage {
  width: 70vw;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.gameStats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 12vw;
}

.gameStats img {
  height: 50px;
  width: 50px;
}

.magnifierImg {
  width: 90%;
  height: 100%;
}

/* @media screen and (max-height: 375px) {
  .gameStats {
    max-height: 10vh;
  }

  .gameStats span {
    max-height: 7vh;
  }
} */
